.grid {
  display: flex;
  flex-wrap: wrap;
  width: 300px;
  height: 300px;
}

.location {
  flex: 1 0 8%; /* explanation below */
  margin: 1px;
  height: 25px;
  background-color: aqua;
  font-size:20px;
}

.header {
  background-color: aliceblue !important;
}


